#enText, #heText, #nextText, #nextHeText{
  margin: 0 20%;
  font-size:18px;

}

#heText{
  padding-top: 5%;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 8%;
}

#enText, #nextHeText, #nextText{
  margin-top: 40px;
  margin-left: 20%;
  font-size:18px;
}

.header p{
  color:white;
  text-align: center;
  display: inline;
}

.header{
  background: #2980b9;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

@media screen and (orientation:portrait){
 #enText, #heText, #nextText, #nextHeText{
  margin: 40px 1.5%;
}
}