  #enText, #heText, #nextText, #nextHeText{
    margin: 0 20%;
    font-size:18px;

  }

 .button{
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
 }

  #enText, #nextHeText, #nextText{
    margin-top: 40px;
  }
  #date, #pages{
    text-align: center;
     font-family: arial;
  }

  @media screen and (orientation:portrait){
     #enText, #heText, #nextText, #nextHeText{
    margin: 40px 1.5%;
  }

  }