  #enText, #heText{
    margin: 0 20%;
    font-size:18px;

  }

  #enText{
    margin-top: 40px;
  }
  #date, #pages{
    text-align: center;
     font-family: arial;
  }

  @media screen and (max-width: 600px){
     #enText, #heText{
    margin: 40px 1.5%;
  }

  }