body{
	top:0;
	margin:0;
	font-family:arial;
	color:white;
}

#page {
	display: grid;
	width: 100%;
	height: 500px;
	grid-template-areas: "header header"
	                   "candles  parsha"
	                   "candles  havdala";
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 2fr 2fr;
	margin: 5% 0;
}

#page > header {
	grid-area: header;
	text-align: center;
	border: 1px solid white;
	font-size:32px;
	text-align:center;
}

#page > candles {
	grid-area: candles;
	border: 1px solid white;
}

#page > parsha {
	grid-area: parsha;
	border: 1px solid white;
}

#page > main {
	grid-area: main;
	border: 1px solid white;
}

#page > havdala {
	grid-area: havdala;
	border: 1px solid white;
}


#candleLighting, #parsha, #havdala {
	font-size: 36px;
	font-weight: 200;
	line-height: normal;
	text-align: center;
}
