.navbar-toggler{
  background-color: white;
}

.navbar-brand{
  color:white;
}

.nav-link, #navList{
  color:white;
}
#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#212427;
  }

  .pageHeading{
    text-align: right  ;
    color: green;
    font-weight: bolder;
  }

  .textContent{
    font-size: 26px;
    text-align:right;
    width: clamp(45ch, 50%, 75ch);
   
  }

  .textContent a{
    font-size: 12px;
  }

  .pageText p {
    direction: rtl;
    font-family: sans-serif;
  }

 
  .accordion{
    background-color: #f0f0f0;
    
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;

    transition: 0.4s;
  }

button{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
button.accordion::before{
   content:'\25BC'; 
   font-size: 20px;
   margin:0  10px;
  }
  
 .hidden{
  display: none;
 }



  @media screen and (orientation:portrait){
    .pageText, .textContent{
      margin:0 2.5%;
      font-size: 18px;
      padding-left:0;
      
      
    }
    #date{
      display:none;
    }
    .footer{
      height:100px;
    }
  
    .finder{
      margin:75px 20px 0;
    }
    .innerDiv p{
        direction: rtl;
      }
  }
    