body {
    top: 0;
    margin: 0;
    font-family: arial;
    background-color: #333;
    color:#fff;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1.5%;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: #E8E8E8;

}

#english,
.bracha, #today-date {
    margin-top: 40px;
    font-size: 30px;
    color: #E8E8E8;
}

#circles-container{
    color:#E8E8E8;
}
#hebrew {
    font-size: 40px;
    color: #E8E8E8;
}

button {
    padding: 1% 4%;
}

li{
    color:#E8E8E8;
    list-style: none;
}

.circle {

display: inline-block;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;
color: #E8E8E8;
text-align: center;
line-height: 30px;
font-weight: bold;
margin-right: 10px;
border:1px solid white;
}

ul {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 10px;

}

.grid-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}