@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 30% 96%;
    --foreground: 0 0% 8%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 8%;
    --primary: 2 80% 52%;
    --primary-foreground: 48 30% 96%;
    --secondary: 46 95% 55%;
    --secondary-foreground: 0 0% 8%;
    --muted: 45 20% 90%;
    --muted-foreground: 0 0% 35%;
    --accent: 215 80% 48%;
    --accent-foreground: 48 30% 96%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 82%;
    --input: 0 0% 82%;
    --ring: 2 80% 52%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
