body{
	top:0;
	margin:4px 7.5%;
	$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
	color:white;
}

#page {
	display: grid;
	grid-template-areas: "header header"
						"candles parsha"
						"candles havdala";
	grid-template-columns:1fr 1fr;
	justify-content: space-evenly;
}
.header{
	grid-area: header;
	text-align: center;
	font-size:65px;
	margin-top: 20px;
}

.header input{
	font-size:25px;
	width:120px;
	text-align:center;
}

h3{
	margin-bottom: 0;
}

.parsha{
	grid-area: parsha;
}

.candles{
	grid-area: candles;
}
.havdala{
	grid-area: havdala;
}

.finder{
	display: flex;
    align-content: center;
    place-content: center;
    margin: 20px 0 40px 0;
}

.finder button{
	margin-left: 20px;
}

#submit{
	color:white;
	border-color: white;
}

#zip{
	font-size:16px;
}
.parsha, #candleLighting, #havdala, .color {
	font-size: 60px;
	font-weight: 200;
	line-height: normal;
	text-align: center;
}

#parsha{
	font-weight: bold;
}

hr{
	background-color: white;
	height: 6px;
	margin-top: 20px;
	border:none;
}

@media only screen 
   and (min-width : 1200px) {
   body{
	margin:4px 3.5%;
   }
}
@media only screen and (orientation : portrait) {
	body{
		margin:0;
	}
	#page{display: grid;
		grid-template-areas: "header "
							"candles"
							"parsha"
							"havdala";
		grid-template-rows: 170px auto auto auto;
		grid-template-columns: 1fr;
	}
	.header{
		font-size: 40px;
	}
	.parsha, #candleLighting, #parsha, #havdala {
		font-size: 40px;
		margin: 0 5px;
	}

	.parsha p{
		margin: auto 0 0;
	}
}