body {
  margin:0 0 160px;

}

.aleph{
  fill:white;
  width: 40px;
}

.pageHeading{
  text-align: center  ;
}

.nightcolor{
  color:white;
}
.night{
  color:white;
  background: #121212;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#212427;
}

.custom-control{
  margin-bottom: 10px;
}
.textContent{
  font-size: 2em;
  text-align:right;
  width: clamp(45ch, 50%, 75ch);
  padding-top: 15px;
}

.english{
  margin-bottom:0;
  text-align: left;
  display:inline-block;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4% 0;
}

.hidden{
  display: none;
}

.aleph:hover{
  opacity: .5;
  cursor: pointer ;
}

a:not([href]):not([tabindex]) {
    color: white;
}

li{
  direction: rtl;
}

p.english, .textContent li, .nextPageContent li{
  margin-top:35px;
}

.english, .progress, .pageTitle{
  direction: ltr;
}

.finder{
  margin:75px 400px 0;
}

.form-row{
  display:flex;
  flex-direction: column;

}

.finder .btn{
  outline: none;
  border:none;
  cursor: pointer;
  width:100%;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color:#fff;
  text-align: center;
 transition: 0.5s;
 }

.finder .btn:hover {
  background:#2fdbb6;
}
.finder .btn:active {
  background:#1da88a;
}
.col input{
  border-radius: 25px;
  margin-bottom: 10px;
  outline:none;
  background: none;
  font-size: 18px;
  text-align: center;
  padding:20px 10px 20px 5px;
}

.col label {
display:none;
}

#prev svg {
    height: 22px;
    margin:0 5px 3px 2px;
    fill:white;
  }
  
#next svg {
    height: 22px;
    margin:0 5px 3px 2px;
    fill:white;
  }

.modal-backdrop {
  z-index: 1020;
}

.modalrow{
  display: inline-block;
  margin-right: 20px;
}

@media screen and (orientation:portrait){
  .pageText, .textContent{
    margin:0 2.5%;
    font-size: 18px;
    padding-left:0;
    width:fit-content;
  }
  #date{
    display:none;
  }
  .footer{
    height:100px;
  }

  .finder{
    margin:75px 20px 0;
  }
}
  
