body{
  top:0;
  margin:0;
  font-size:18px;
}

#enText{
  margin: 0 15%;
  padding: 45px 20px 0;
  font-size: 24px;
  text-align:right;
}

.english{
  margin-bottom:0;
  text-align: left;
  display:inline-block;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4% 0;
}

.prevbutton{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 
}

.hidden{
  display: none;
}

.aleph:hover{
  opacity: .5;
  cursor: pointer ;
}

a:not([href]):not([tabindex]) {
    color: white;
}

li{
  direction: rtl;
}

p.english, #enText li{
  margin-top:35px;
}

.english, .progress, .pageTitle{
  direction: ltr;
}

.finder{
  margin:75px 20px 0;
}

@media screen and (orientation:portrait){
  #enText{
    margin:0 1.5%;
    font-size: 18px;
  }
  #date{
    display:none;
  }
  }
