body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1 {
    font-size: 2rem;
    margin: 20px 0;
    color: #343a40;
}

.flashcard {
    margin: 20px auto;
    padding: 50px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttons {
    margin: 20px;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.progress {
    margin: 20px auto;
    width: 500px;
    height: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    width: 0%;
    transition: width 0.3s ease;
   
}

.phrase{
    color:#007bff;

}
.translation{
    color:#027220;

}

.phraseInitial{
    font-size: 24px;
}